body {
	
}

input {
	text-align: right;
}

div#retirement-calculator-form {
	float: left;
	clear: both;
	padding: 14px;
}

div#advanced {
	border: 1px solid blue;
	float: left;
	clear: both;
}

div#problems {
	float: left;
	clear: both;
	display: none;
}

div#problems p,li {
	color: #880000;
}

div#results {
	float: left;
	clear: both;
	padding: 14px;
}

table#results {
	border-collapse: collapse;
}

table#results tbody {
	border-top: 2px solid #777777;
	text-align: right;
}

table#results th {
	padding: 0 6px 0 6px;
	vertical-align: bottom;
}

table#results tr.in-retirement {
	background-color: #efefff;
}

table#results colgroup#contributions {
	
}

table#results td {
	padding: 0 6px 0 6px;
}

div.field {
	float: left;
	clear: both;
	margin: 3px 0 3px 0;
	line-height: 1em;
}

div.field label {
	float: left;
	width: 300px;
	text-align: right;
	margin-right: 12px;
	margin-top: 4px;
}

div.field input {
	float: left;
	margin-right: 10px;
}

div.field span.input-suffix {
	float: left;
	color: #555555;
	margin-top: 4px;
}

div.field .ui-spinner {
	float: left;
}