body {
	
}

input {
	text-align: right;
}

div#retirement-calculator-form {
	border: 1px solid red;
	float: left;
	clear: both;
	padding: 14px;
}

div#advanced {
	border: 1px solid blue;
	float: left;
	clear: both;
}

div#problems {
	border: 1px solid orange;
	float: left;
	clear: both;
	display: none;
}

div#problems p {
	color: #880000;
}

#results {
	border: 1px solid green;
	float: left;
	clear: both;
}

div.field {
	float: left;
	clear: both;
	margin: 3px 0 3px 0;
	line-height: 1em;
}

div.field label {
	float: left;
	width: 300px;
	text-align: right;
	margin-right: 12px;
	margin-top: 4px;
}

div.field input {
	float: left;
	margin-right: 10px;
}

div.field span.input-suffix {
	float: left;
	color: #555555;
	margin-top: 4px;
}

div.field .ui-spinner {
	float: left;
}