input {
	text-align: right;
}

div#questions {
	
}

div#retirement-calculator-form {
	float: left;
	clear: both;
	padding: 14px;
	margin-bottom: 60px;
}

div#problems {
	float: left;
	clear: both;
	display: none;
}

div#return-history-dialog {
	display: none;
}

div#problems p,div#problems li {
	color: #880000;
}

hr.field {
	float: right;
	clear: both;
	width: 100%;
	border: 0px none;
	height: 1px;
	background-color: #bbbbbb;
}

div.field {
	width: 100%;
	float: left;
	clear: both;
	margin: 5px 0 5px 0;
	line-height: 1em;
	float: left;
	clear: both;
}

div.field .left {
	margin-top: 4px;
	margin-right: 13em;
}

div.field .right {
	float: right;
	width: 12em;
	text-align: left;
	margin-right: 10px;
	margin-top: 2px;
}

div.field .left label {
	font-weight: bold;
}

div.field .left p {
	font-size: 80%;
}

div.field span.input-suffix {
	color: #555555;
	margin-top: 4px;
	font-size: 80%;
}

div.field .ui-spinner {
	
}

/*
Table styles
*/
table#return-history {
	border-collapse: collapse;
	margin: 30px auto 60px auto;
}

table#return-history tbody {
	border-top: 2px solid #777777;
	text-align: right;
}

table#return-history tfoot {
	border-top: 2px solid #777777;
	text-align: right;
	color: blue;
}

table#return-history th {
	padding: 0 10px 0 10px;
	vertical-align: bottom;
}

table#return-history tr.in-retirement {
	background-color: #f8f8ff;
}

table#return-history .retirement-info {
	text-align: left;
	/* A small size so it doesn't stretch the table. */
	width: 200px;
	color: #111199;
	padding: 2px 0 12px 0;
}

table#return-history colgroup#contributions {
	
}

table#return-history td {
	padding: 0 10px 0 10px;
}

table#return-history td.underfunded {
	color: #ff0000;
}